/* configuraciones de generales */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem = 10px */
}
body{
    font-size: 1.6rem;
    background-color: #848484;
}
h1{
    font-size: 3rem;
    margin: 17px 0px 17px 0px;
}
h2{
    font-size: 2.8rem;
    margin: 17px 0px 17px 0px;
}

h3{
    font-size: 2.2rem;
    margin: 17px 0px 17px 0px;
}
p{
    font-size: 1.7rem;
}
button{
    font-size: 2.2rem;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0 , 0.5);
    box-shadow: 2px 2px 7px rgba(0, 0, 0 , 0.5);
    color: white;
    background-color: seagreen;
}
button:hover{
    background-color: rgb(32, 91, 58);
}
a{ 
    color:white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: black;
}
ul{
    list-style: none;
    padding-left: 0;
}

.container{ /* el contenido de la pag despues de los 1400px sera margen */
    max-width: 1400px;
    margin: auto;
}
/* configuracion header */
header{
    color: white;
    background-color: seagreen;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo{
    margin: 0;
    padding: 20px 30px;
    font-weight: bold;
    color: white;
    font-size: 2.9rem;
    /* background-image: ; uso un texto como logo pero podria ser una img*/ 
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}
header a{
    padding: 5px 10px;
}
/* configuracion section hero */
#hero{
    height: 100vh;/* TODO */
    height: 100svh; /* 100vh contando la barra de navegacion mobile, si no toma 100vh */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-image:linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),url(imgs/MusicaYa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/* configuracion section musicaya */
#somos-MusicaYa{
    text-align: center;
    color:white;
}
#somos-MusicaYa .container{
    padding: 15vh 10px;
}
/* configuracion section nuestros-cursos */
#nuestros-cursos{
    text-align: center;
    background-color:seagreen;
    color: white;
}
#nuestros-cursos .container{
    padding: 15vh 0;
}
#nuestros-cursos p{
    display: none;
}
#nuestros-cursos .carta{
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
    margin: 25px 10px;
    border-radius: 15px;
}

.carta:first-child{
    background-image:linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),url(imgs/les-paul-tocando.jpg);
}
.carta:nth-child(2){
    background-image:linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),url(imgs/les-paul-tocando.jpg);
}
.carta:nth-child(3){
    background-image:linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),url(imgs/les-paul-tocando.jpg);
}
/* configuraciones section donde-encontrarnos */
#donde-encontrarnos .container{
    text-align: center;
    padding: 15vh 10px;
    color: white;
}
#donde-encontrarnos .container li{
    margin:15px 0px;
    font-weight: bold;
}
#donde-encontrarnos .container iframe{
    width: 100%;
    height: 45vh;
}
/* configuracion footer */
footer{
    background-color: seagreen; 
}
footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
footer a{
    text-align: center;
}

@media (min-width: 870px){
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
    }
    #somos-MusicaYa .container{
        display: flex;
        justify-content: space-evenly;
    }
    #somos-MusicaYa .img-container{
        background-image:url(imgs/somos.jpg);
            background-size: cover;
            background-position: center center;
            height: 400px;
            width: 50%;
    }
    #somos-MusicaYa .text-container{
        width: 50%;
        text-align: initial;
        padding-left: 4%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #nuestros-cursos .cursos{
        display: flex;
        justify-content: center;
    }
    #nuestros-cursos p{
        display: block;     /* y esto TODO */
    }
    #nuestros-cursos .carta{
        padding: 50px 10px;
        margin: 0 10px;
    }
}